.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
}

.Card-Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 40px;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px rgb(204, 5, 5) solid;
  border-radius: 10px;
  height: clamp(300px, 20%, 400px);
}

.Card button {
  background-color: red;
  margin-top: 20px;
  width: 40%;
  border-radius: 12px;
  height: 25px;
}

.Card button a {
  color: white;
  text-decoration: none;
}