.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  margin: 10px 30px 10px 30px;
}

.Card-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px;

}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px red solid;
  border-radius: 10px;
  height: auto;
  padding: 0px 10px 20px 10px; 
}

.Card img {
  max-width: 100%;
  height: 60%;
}

.Card button {
  background-color: red;
  margin-top: 20px;
  width: 40%;
  border-radius: 12px;
  height: 40px;
  border: none;
}

.Card button a {
  color: white;
  text-decoration: none;
}

.Card button a:hover {
  text-decoration: underline;
}


@media (max-width: 650px) {
  .Card-Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .Card-Container {
    grid-template-columns: repeat(1, 1fr);
  }
}