/* ===========
  LAYOUT
*/

/* Header */
header {
  width: 95%;
  margin: 0 auto 1em auto;
}

.header-logo {
  margin: 0 auto;
  max-width: 200px;
  width: 30%;
}



/* Cards for Schedule */
.card {
  width: 60%;
  margin: 0 auto;
  border: 4px solid #f70202;
  border-radius: 12px;
  margin-bottom: 3em;
  max-width: 400px;
}

.card-img {
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  max-width: 300px;
}

.card-title {
  text-align: center;
}

.card-info {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 1.2rem;
}

.card-name {
  font-weight: 600;
}

.card-button {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  background-color: #f70202;
  width: 50%;
  color: #fff;
  padding: 0.5em 1.75em;
  margin: 0 auto 1em auto;
  border: none;
  max-width: 250px;
  transition: background-color 0.4s;
}

.card-button:hover,
.card-button:focus {
  background-color: #610606;
  box-shadow: 0 0 2px 2px #610606;
}









.footer  {
  background-color: red;
  color: white;
  padding: 1em 2em;
}

.footer h3 {
  text-align: center;
}
.footer span {
  font-weight: bold;
}

.loading-page {
  height: 50vh;
  margin-top: 2em;
  text-align: center;
}


/* =======
  MEDIA QUERIES 
  ===========*/

@media (min-width: 650px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto 2em auto;
    gap: 2em;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin: 0;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    flex: 1 1 200px;
  }

}

@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}