.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-Img{
  display: flex;
  justify-content: center;
}

.Header-Img img {
  width: 50%;
}

.Header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(1.8rem, 20%, 2.4rem);
  margin: 10px 30px 10px 30px;
}

.Card-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px;

}

.Card {
  display: block;
  border: 4px red solid;
  border-radius: 10px;
  height: auto;
  padding: 0px 10px 20px 10px; 
  transition: box-shadow 0.4s;
}

.Card:hover {
  cursor: pointer;
  box-shadow: 0 0 3px red;
  box-shadow:  0 0 5px red;
}
.Card-Img {
  margin-bottom: 20px;
}

.Card-Img img {
  width: 100%;
  height: clamp(100px, 30%, 150px);
}

.Card-Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6rem;
    margin-bottom: 20px;
}

.Card-Info h4 {
  font-size: clamp(1.0rem, 13%, 1.2rem);
  margin-bottom: 10px;
}

.Card-Info h1 {
  font-size: clamp(1.4rem, 25%, 1.8rem);
}

.Card-Info h2 {
  font-size: clamp(1.15rem, 15%, 1.35rem);
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 5px;
}
.Card-Button {
  display: flex;
  justify-content: center;
}

.Card-Button button {
  background-color: red;
  margin-top: 20px;
  width: 70%;
  border-radius: 12px;
  height: 40px;
  border: none;
}

.Card button a {
  color: white;
  text-decoration: none;
}

.Card button {
  transition: background-color 0.5s ;
}
.Card button:hover {
  background-color: #ff3333;
}

.Card-Button button:active {
  background-color: #b30000;
}


.Footer  {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
}


@media (max-width: 700px) {
  .Card-Container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .Card-Container {
    grid-template-columns: repeat(1, 1fr);
  }
}