.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img{
  display: flex;
  justify-content: center;
}

.header-img img {
  width: 50%;
}

.header h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: clamp(1.8rem, 20vw, 2.4rem);
  margin: 10px 30px 10px 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 50px;

}

.card {
  display: block;
  border: 4px red solid;
  border-radius: 10px;
  height: auto;
  padding: 0px 10px 20px 10px; 
  transition: box-shadow 0.4s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 3px red  0 0 5px red;
}
.card-img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-img img {
  width: 100%;
  height: clamp(100px, 25vh, 150px);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 6rem;
    margin-bottom: 30px;
}

.card-info h4 {
  font-size: clamp(1.0rem, 5vw, 1.2rem);
  margin-bottom: 10px;
}

.card-info h1 {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
}

.card-info h2 {
  font-size: clamp(0.90rem, 1.5vw, 1.55rem);
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}
.card-button a{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.card-date {
  display: flex;
  justify-content: center;
}
.card-button button {
  background-color: red;
  color: white;
  margin-top: 20px;
  width: 70%;
  border-radius: 12px;
  height: 40px;
  border: none;
}


.card button {
  transition: background-color 0.5s ;
}
.card button:hover {
  background-color: #f299a6;
}

.card-Button button:active {
  background-color: #b30000;
}


.footer  {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px;
}

.footer span {
  font-weight: bold;
}

.loading-page, .error-page {
  text-align: center;
}


@media (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-info h2 {
    font-size: clamp(0.90rem, 2.0vw, 1.45rem);
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
}
}

@media (max-width: 550px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-info h2 {
    font-size: clamp(1.20rem, 2.5vw, 1.65rem);
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
}
}

@media (max-width: 320px) {
  .header h1 {
    font-size: clamp(1.2rem, 15vw, 1.8rem);
  }
  .card-info h2 {
    font-size: clamp(0.85rem, 1.8vw, 1.1rem);
  }
}