/* ==========
  GLOBAL STYLES
========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1rem;
  font-family: "Verdana", "sans-serif", Geneva, Tahoma;
}


/* ===========
  TYPOGRAPHY
*/
h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.3;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

img {
  max-width: 100%;
  display: block;
}